.col-sm-3.col-md-2.sidebar-nav
  = render 'member_page/menu'
.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
  .dashboardHeaderSection__appMain
    .dashboardHeader__title.h3 Dashboard
    .dashboardView__title
      ガンプラ製作道具、完成品、製作過程を管理するアプリケーション
      .dashboardSection__appMain
        TODO:ダッシュボードの中身は未定
