.gbp-submenu-box
  .gbp-submenu-wrap
    %ul.nav.nav-tabs.nav-justified.gbp-submenu
      %li.active
        %a{href: '#'}
          Home
      %li
        %a{href: '#'}
          製作道具
      %li
        %a{href: '#'}
          購入履歴
      %li
        %a{href: '#'}
          ユーザー
.carousel-box
  カルーセルで何かの画像を表示する
  http://bootstrap3-guide.com/javascript/carousel.htmlを参考にする
