.dashboardView
  .col-sm-2.sidebar-nav
    = render 'member_page/menu'
  .col-sm-10.col-sm-offset-3.col-md-10.col-md-offset-2
    .makingtoolsSection__appMain
      .h3 ガンプラ購入履歴
      .makingtoolsView__title
        ガンプラ購入履歴を更新します
        .makingtoolsSection__appMain
          = render 'form', gunpla_purchase_history: @gunpla_purchase_history
