.gbp-submenu-box
  .gbp-submenu-wrap
    %ul.nav.nav-tabs.nav-justified.gbp-submenu
      %li{ class: "#{'active' if current_page?(root_path)}" }
        %a{ href: root_path }
          Home
      %li{ class: "#{'active' if current_page?(gunplas_path)}" }
        %a{ href: gunplas_path }
          購入ガンプラ
      %li{ class: "#{'active' if current_page?(making_tools_path)}" }
        %a{ href: making_tools_path }
          製作道具
