.gbp-submenu-box
  .gbp-submenu-wrap
    %ul.nav.nav-tabs.nav-justified.gbp-submenu
      %li{ class: "#{'active' if current_page?(root_path)}" }
        %a{ href: root_path }
          Home
      %li{ class: "#{'active' if current_page?(making_tools_path)}" }
        %a{ href: making_tools_path }
          製作道具
      %li{ class: "#{'active' if current_page?(gunpla_purchase_histories_path)}" }
        %a{ href: gunpla_purchase_histories_path }
          ガンプラ購入履歴
      %li
        %a{ href: '#' }
          ユーザー
