.dashboardView
  .col-sm-2.sidebar-nav
    = render 'member_page/menu'
  .col-sm-10.col-sm-offset-3.col-md-10.col-md-offset-2
    .gunpla_purchase_historiesSection__appMain
      .h3 ガンプラ購入履歴
      .gunpla_purchase_historiesView__title
        購入したガンプラを登録します
        .gunpla_purchase_historiesSection__appMain
          = render 'form', gunpla_purchase_history: @gunpla_purchase_history

